.io{
	font-family: 'Kurale', serif;
	text-align:center;
	color:#FFA350;
}
.ioz{
	color:#177245;
	font-family: 'Lobster', cursive;
	text-align:center;
}
.iox{
	color:#50C878;
	font-family: 'Russo One', sans-serif;
	text-align:center;
}
.ios{
	color:red ;
	font-family: 'New Rocker', cursive;
	text-align:center;
}
.ioss{
	color:red ;
	font-family: 'New Rocker', cursive;
	
}
.pop{
	font-family: 'Eater', cursive;
	color:#50C878;

	text-align:center;
	
}
.non{
	font-family: 'Comfortaa', cursive;
	text-align:center;
	color:#16E98D;
	text-decoration:underline;
}
.noe{
	font-family: 'Comfortaa', cursive;
	text-align:center;
	color:#16E98D;
	text-decoration:move;
}
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);


body{
  background: black;
}

svg{
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
  text-align:center;
}
.text-typing
{
    width: 50em;
    color:green;
	text-align:center;
    font-size: 22px;
    font-family: 'Marck Script', cursive;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}
@keyframes type{
    from { width: 0; }
}
 
@-webkit-keyframes type{
    from { width: 0; }
}
.win{
	font-family: 'Lobster', cursive;
	color:#D2356C;
	text-shadow:15px; 
	border:2px solid ;
	width:130px;
	
	
   
	
}
.win:hover{
	font-family: 'Lobster', cursive;
	color:#EBDA3D;
	text-shadow:15px; 
	border:2px solid ;
	width:130px;
	

	
}
.wow{

	text-align:center;
	color:

}
body{
  background: #c4c7cb;
  background-image: -webkit-radial-gradient(cover, #FFF,#D1D1D1	);
  background-image: -moz-radial-gradient(cover, #e8eaec, #a4a8ae);
  background-image: -o-radial-gradient(cover, #e8eaec, #a4a8ae);
  background-image: radial-gradient(cover, #e8eaec, #a4a8ae)
}

html{
  min-height:100%;
}

.Navigation{
	height: 50px;
    padding: 0;
	margin: 0;
	position: fixed;
}

.Navigation li 	{
	height: auto;
	width: 150px;
	float: left;
	text-align: center;
	list-style: none;
	font:12px "Bonveno", "Century Gothic";
	padding: 0;
	margin: 0;
	background-color: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
	border-radius: 3px;
  margin-left:10px;
}

.Navigation a{							
	padding:13px;
	text-decoration: none; 
	color:#333;
	text-shadow: 0 1px #fff;
	display: block;
}
.Navigation li ul{
	display: none;
	height: auto;									
	margin-left: -11px;
	padding: 0;		
}				

.Navigation li:hover ul{
	display: block;
}

.navbar li ul li {
	background-color:#eee;
  	border: 1px solid #ccc;
} 

.Navigation li:hover, a:hover {
	
} 