/* Styles go here */
    body{
      background-color:  #ADD;
    }
    ul {
      list-style: none; /*убираем маркеры списка*/
      margin: 0; /*убираем отступы*/
      padding-left: 0; /*убираем отступы*/
      margin-top: 25px; /*делаем отступ сверху*/
      background:#129793; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
      height: 50px; /*задаем высоту*/
    }
    .al {
      text-decoration: none; /*убираем подчеркивание текста ссылок*/
      background:#129793; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
      color:#FFF; /*меняем цвет ссылок*/
      padding:0px 15px; /*добавляем отступ*/
      font-family: arial; /*меняем шрифт. Шрифт для технических целей*/
      line-height:50px; /*ровняем меню по вертикали*/
      display: inline-block; 
      border-right: 1px solid #505050; /*добавляем бордюр справа*/
    }
    a:hover {
      background:#1ea09b;/*добавляем эффект при наведении*/
    color: #505050;
    }
    li {
      float:left; /*Размещаем список горизонтально для реализации меню*/
    }
    .td{
	  font-family: 'Cherry Swash', cursive; /*Шрифт для основы сайта, с гугла*/
      border:2px solid #129793;
      background-color: #129793;
      color:#fff;
      height: auto;
    }
    .td1{
	width:100%;
	}
    .layout1{
      height: 415px;
      width: 380px;
      background-color: #129793;
      margin-right: 30px;
      margin-top: 25px;
      padding: 10px;
	  display: inline-block;
      float: left;
    }	
    .layout{
      height: auto;
      width: 380px;
      background-color: #129793;
      margin-right: 30px;
      margin-top: 25px;
      padding: 10px;
	  display: inline-block;
      color: #FFF;
}
	.card{
  width: 380px;
  height: 180px;
  background-color: #aaa;
}

.card__title{
  width:380px;    /*На 20 px больше, чем надо*/
  background: #129793;
  font-size:20px;
  text-align: center; 
  font-style: italic;
  font-family: 'Cherry Swash', cursive;
  color:#fff;
}

.card__text{

  font-family: 'Cherry Swash', cursive;
  font-size: 12px;
  background-color: #129793;
  color: #FFF;
}

.buton {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}

.buton:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.buton:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.card__img{
  width: 380px;
  height: 180px;
}





