.body {
    background: url(57ffa2393d167.jpg);
	background-size: cover;
	background-attachment:fixed;
   }
   .body2 {
    background: url(175810_rDL8cr9bbD_tom_clancys_rainbow_six_siege_ga.jpg);
	background-size: cover;
	background-attachment:fixed;
   }
   
   .body3 {
    background: url(r6-poste3-grenade-4096p-final-j_mq33.jpg);
	background-size: cover;
	background-attachment:fixed;
   }
   .body4 {
    background: url(rainbow_six_siege_new_screen_1.jpg);
	background-size: cover;
	background-attachment:fixed;
   }
   .body5 {
    background: url(240_F_101491669_vBbUFv8y3JRD0xrxVsXh02Ps3wiJbsHM.jpg);
	background-size: cover;
	background-attachment:fixed;
   }
.a{
	background: url(Rook_Badge_New_2.png);
	  width: 2%;
	padding:55px 50px;
	margin: 2% 0px 0px 2%;
	display: inline-block;
}
.b{
	  width:80%;
  padding: 55px 50px;
  display:inline-block;
  background-color: rgba(255, 215, 0, 0.5);
    text-shadow: 4px 1px 1px rgba(0,0,0,0.7) ;
	  font: normal 30px/1 "Comic Sans MS", cursive, sans-serif;
	  color: rgba(0,255,25,1);
	  text-align: center;
	    border-radius:26px;
}

.b:hover{	  
	color: rgba(0, 255, 255,1);
}
.groups{
	  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 90%;
  padding: 0 0 320%;
  position: absolute;
  overflow: hidden;
  border: 4px solid rgba(255,182,0,1);
  font: normal 25px/1 "Comic Sans MS", Times, serif;
  color: rgba(0,207,239,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  margin:3% 5%; 
}
.groups:hover{
	border: 4px solid rgba(0, 255, 255,1);
}
.d{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 20%;
  padding: 5% 4%;
  overflow: hidden;
  border: 4px solid rgba(0,12,255,1);
  -webkit-border-radius: 0 0 100px;
  border-radius: 0 0 100px;
  font: normal 25px/1 "Comic Sans MS", Times, serif;
  color: rgba(255,0,0,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  display:inline-block;
}
.d:hover{
	  border: 4px solid rgba(0,255,59,1);
}

.e {
	margin:20px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0 20px;
  border: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: normal normal bold 20px/40px "Comic Sans MS", Helvetica, sans-serif;
  color: rgba(255,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255, 215, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
  box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
  text-shadow: 0 1px 0 #FFFFFF ;
  text-decoration:none;
}

.e:hover {
  background: rgba(255,234,130,0.5);
}

.e:active {
  margin: 20px 0 0;
  background: rgba(255, 215, 0, 0.5);
  -webkit-box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
  box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
}

.e:focus {
  background: rgba(255, 215, 0, 0.5);
}
.f{
		  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  overflow: hidden;
  border: 4px solid rgba(255,182,0,1);
  font: normal 25px/1 "Comic Sans MS", Times, serif;
  color: rgba(0,207,239,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  display:inline-block;
    padding: 5% 5%;
}
.f:hover{
	border: 4px solid rgba(0, 255, 255,1);
}
.p{
	  font: normal 50px/1 "Comic Sans MS", Times, serif;
	  color: rgba(255,0,0,1);
	  text-align:left;
}
.g{
	  font: normal 25px/1 "Comic Sans MS", Times, serif;
	  color: rgba(0,203,0,1);
	  text-align:left;
}
.c{
	  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 90%;
  padding: 0 0 10%;
  position: absolute;
  overflow: hidden;
  border: 4px solid rgba(255,182,0,1);
  font: normal 25px/1 "Comic Sans MS", Times, serif;
  color: rgba(0,207,239,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  margin:3% 5%; 
}
.c:hover{
	border: 4px solid rgba(0, 255, 255,1);
}
.c2{
	  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 90%;
  padding: 0 0 120%;
  position: absolute;
  overflow: hidden;
  border: 4px solid rgba(255,182,0,1);
  font: normal 25px/1 "Comic Sans MS", Times, serif;
  color: rgba(0,207,239,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  margin:3% 5%; 
}
.c2:hover{
	border: 4px solid rgba(0, 255, 255,1);
}
.c4{
	  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 90%;
  padding: 0 0 200%;
  position: absolute;
  overflow: hidden;
  border: 4px solid rgba(255,182,0,1);
  font: normal 25px/1 "Comic Sans MS", Times, serif;
  color: rgba(0,207,239,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(0,0,0,0);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  margin:3% 5%; 
}
.c4:hover{
	border: 4px solid rgba(0, 255, 255,1);
}