/* CSS Document */

.ul li{
  display:inline-block;
  font-size:2em; 
  text-align:center;
  width:auto;
  background-image:url(rjav.jpg);
  height:60px;
  border-radius:10%;
  margin-left:5%;
  margin-right:5%;
  width:15%;
  border:1px solid grey;
  padding-top:0.6%
  
}
a{
  color:white;
  text-decoration:none;
  font-family:verdana;
}
.nav{
  width:auto;
  text-align:center;
  margin:0;
  padding:0;
  width:100%;
  position:absolute;
}
.lambda{
  position:relative;
  width:80px;
  background-image:url(logo.png);
  height:60px;
  background-repeat: round;
  border-radius:50%;
  margin-top:10px;
  margin-left:10px;
}
.footer{
  height:150px;
  background-color:#18181B;
  width:100%;
  margin-top:20%;
  padding:0;
  border-top:2px solid gray;
}
.about{
  position:relative;
  height:90px;
  width:500px;
  top:-100px;
  left:80%;
  background-color:transparent;
  color:azure;
    font-family:'Nunito', sans-serif;
}
@import url('https://www.fontify.me/wf/b6705187ef30c47ad4adf62ba3c7b2fb');
body{
    margin:0;
    padding:0;
    background-image: url(background-overwatch-top.jpg);
    background-repeat:round;
    font-family: font44141;
}
ul{
    margin:0;
    padding-left:80px;
    width:90%;
    margin-top:10px;
}
.ul li:hover{
    background-image: url(rjav.png);
    border-radius:25%;
    border:2px inset navy;
}
.inside:hover{
    top:-100px;
    width:300px;
    height:150px;
    background-color:darkgreen;
    border-radius:5%;
}
img{
    width:70px;
    height:70px;
}
ol{
    margin-top:50px;
}
h1{
    color:aliceblue;
    font-family:verdana;
    font-size: 4em;
    margin-top:50px;
}
li{
    list-style-type: none;
}
.heroes ul li #hero{
   margin-left: 18%;
   height:5%;
   width:50%;
   background-size: 100%; 
   background-repeat: round;
   border-radius: 2%;
   margin-bottom: 10px;
   display:inline-block;
    margin-top: 3%;
   
}
.heroes ul li .genji{
   ;
}
 
}
.heroes ul li .desc h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    margin:0;
    padding-top:10px;
}
.heroes ul li .mccree{
   
}
.heroes ul li .desc{
    position:relative;
    height:250px;
    width:400px;
    top:-320px;
    left:600px;
    border:2px solid aliceblue;
    padding-left:180px;
    color: azure;
    font-family: 'Exo 2', sans-serif;
    font-size:0.95em;
    padding-right: 9px;
    padding:  
}
.heroes ul li .desc h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    margin:0;
    padding-top:10px;
}
.heroes ul li{
    margin-bottom:0;
    height:550px;
}
a{
    z-index: 1;
}
.attack li{
    margin-left:10%;
}
.vid{
    margin-top:5%;
    margin-left:18%;
}