/* CSS Document */
.header{
  height:590px;
  width:auto;
  position:static;
  background-repeat:round;
  animation:change 6s ease 3s infinite alternate;
  margin-top:2.5%;
  padding:0;
  top:100px;
  margin-bottom:50px;
  margin-left:7%;
  margin-right:7%;
  border-radius:5%;
  border:5px outset #252330;
}
ul li{
  display:inline-block;
  font-size:2em; 
  text-align:center;
  width:auto;
  background-image:url(rjav.jpg);
  height:60px;
  border-radius:10%;
  margin-left:5%;
  margin-right:5%;
  width:15%;
  border:1px solid grey;
  padding-top:0.6%
  
}
a{
  color:white;
  text-decoration:none;
  font-family:verdana;
}
.nav{
  width:auto;
  text-align:center;
  margin:0;
  padding:0;
  width:100%;
  position:absolute;
}
.lambda{
  position:relative;
  width:80px;
  background-image:url(logo.png);
  height:60px;
  background-repeat: round;
  border-radius:50%;
  margin-top:10px;
  margin-left:10px;
}
.main{
  height:500px;
  background-image:url(mainbg.jpg);
  width:70%;
  position:absolute;
  margin-left:15%;
  background-repeat:round;
  border-radius:2%;
  
}
.img{
  position:relative;
  height:280px;
  width:400px;
  top:4%;
  left:17%;
  background-repeat:round;
}
.text{
  position:relative;
  height:50%;
  width:480px;
  top:-40%;
  left:48%;
  background-color:transparent;
  padding:10px;
    font-size: 2em;
    color:azure;
    font-family: 'Russo One', sans-serif;
}

.footer{
  position:absolute;
  height:150px;
  background-color:#18181B;
  width:100%;
  margin-top:150px;
  padding:0;
  border-top:2px solid gray;
}
.about{
  position:relative;
  height:90px;
  width:500px;
  top:200px;
  left:80%;
  background-color:transparent;
  color:azure;
  font-size:1.2em;
  font-family:'Nunito', sans-serif;
}
@keyframes change{
    from{background-image:url('header.jpg')}
    33%{background-image:url(hl3.jpg)}
    66%{background-image:url(hl.jpg)}
    to{background-image:url('hl4.jpg')}
}
@import url('https://www.fontify.me/wf/b6705187ef30c47ad4adf62ba3c7b2fb');
body{
    margin:0;
    padding:0;
    background-image: url(background-overwatch-top.jpg);
    background-repeat:round;
    font-family: font44141;
}
ul{
    margin:0;
    padding-left:80px;
    width:90%;
    margin-top:10px;
}
li:hover{
    background-image: url(rjav.png);
    border-radius:25%;
    border:2px inset navy;
}
