        @keyframes jumping{
			0%{transform:translate(-25px,25px);}
			50%{transform:translate(0,-25px) scale(2);}
			100%{transform:translate(25px,25px);}
			}
        @keyframes openTitle{
            from {
                transform: translate(0, -200px);
            }
            to {
                transform: translate(0,0);
            }
        }
        @keyframes openMainArticle{
            from {
                transform: translate(-1200px,0);
            }
            to {
                transform: translate(0,0);
            }
        }
		html{
			margin: 0;
		}
         body{
            margin: 0;
            padding: 0;
            text-align: center;
			background-color: black;
        }
        .loadIcon{
            height: 100vh;
            width: 100vw;
        }
        .ball{
            width:50px;
			height:50px;
			border-radius:50%;
			background-color: white;
			position: absolute;
			top:calc(50% - 25px);
			left:calc(50% - 25px);
        }
        .loading{
            animation: jumping 1s infinite ease-in-out alternate;
        }
        
        .titleTile{
            width: 300px;
            height: 100px;
            display: inline-block;
            background-color: rgba(30,30,30,0.7);
            text-align: center;
            color:white;
            font-size: 30px;
            margin: 20px;
            position: absolute;
            top: 10px;
            left:calc(50% - 200px);
            animation: openTitle 1s 1 normal;
        }

        .mainArticleTile{
            width: 900px;
            height: 500px;
            display: inline-block;
            background-color: rgba(30,30,30,0.7);
            color: white;
            font-size: 36pt;
            position: absolute;
            left: calc(50% - 480px);
            top: 150px;
            transition: 2s;
            animation: openMainArticle 2s 1 normal;
        }

        .photoBlockTile{
            width: 880px;
            height: 160px;
            display: inline-block;
            position: absolute;
            top: 300px;
            left: calc(50% - 440px);
            background-color: #ffffff;
            overflow: hidden;
        }

        .colorCheckerInput{
            type: text;
        }

        .buttonTile{
            width: 150px;
            height: 50px;
            display: inline-block;
            background-color: rgba(30,30,30,0.7);
            color: white;
            position: absolute;
            top: 50px;
            transition: 0.5s;
            animation: openTitle 1s 1 normal;
        }
        .buttonTile:hover{
            width: 150px;
            height: 50px;
            display: inline-block;
            background-color: rgba(30,30,150,0.7);
            color: white;
            position: absolute;
            top: 50px;
            transition: 0.5s;
            animation: openTitle 1s 1 normal;
        }
        .buttonTile__left1{
            left:calc(50% - 330px);
        }
        .buttonTile__left2{
            left:calc(50% - 480px);
        }
        .buttonTile__right1{
            left:calc(50% + 120px);
        }
        .buttonTile__right2{
            left:calc(50% + 270px);
        }
		.blue{
		background-color:blue;
		}