body{
	font-family:verdana;
	width:100%;
	height:100%;
	#background-image:url(http://gotowall.com/wallpapers/[gotowall.com]20120416_141352_2211.jpg);
	background-repeat:space;
	background-position:center;
	background-size:cover;
	top:0px;
	left:0px;
	background-attachment:fixed;
	margin:0;
}
.zirzamin{
    font-size: 105%;
    position: relative;
    top:100%;
    background-color:rgba(31, 4, 105, 0.7); 
    padding: 20px;
    z-index: -2;
    color: rgb(255, 250, 235);
    text-align: right;
}
.persp{
	position:absolute;
	#margin-top:150px;
	perspective:1900px;
}  
.menu{
	height:90px;
	width:100%;
	background-color:rgba(31, 4, 105, 0.7);
	text-align:center;
	position:fixed;
	top:0px;
	left:0px;
	box-sizing:border-box;
}
.li{
	display:inline-block;
	box-sizing:border-box;
	margin-top:11px;
}
.cub1 ,.cub2, .cub3{
		position: absolute;
        left:200px;
        top: 0;
        width: 600px;
        height: 396px;
        display: inline-block;
        transform-origin: 300px;
}
.cub1{
	transform: rotateY(0deg) translateZ(300px);
}
.cub2{
	transform: rotateY(-90deg) translateZ(300px);
}
.cub3{
	transform: rotateY(-180deg) translateZ(300px);
}
.text_cub{
	background-color:white;
	color:#32163b;                                                                                                      
	font-size:180%;
	padding:12px;
	padding-left:80px;
}
.img{
	width:100%;
	height:100%;
	background-repeat:round;
	#background-size:contain;
}
.cub1  .img{
	background-image:url("cadillac.jpg");
}
.cub2  .img{
	background-image:url("ford_index.jpg");
}
.cub3 .img{
	background-image:url("jeep_index.jpg");
}
.a{
	text-decoration:none;
	font-size:190%;
	padding:26px;
	color:red;
}
.a:hover{
	opacity:1;
	background-color:#2c0271;
}
.back h2{
	margin-top:135px;
	text-align:center;
	color:#32163b;
}
hr{
	border-color:indigo;
	width:80%;
}
.main_cub{
	margin-top:20px;
	transform-origin:505px 196px; 
	animation:cubic 15s infinite linear alternate;
	left: calc(50vw - 500px);
    position: absolute;
	transform-style:preserve-3d;
}
.ptext{
	width:800px;
	margin:auto;
	background-color:white;
	color:#32163b;
	font-size:110%;
	padding:15px;
	border-style:double;
	border-color:#32163b;
	border-width:6px;
	position:relative;
	top:585px;
    transition: .4s;
}
@keyframes cubic{
	from{transform:rotateY(0deg);}
	25%{transform:perspective(2300px) rotateY(45deg);}
	50%{transform:rotateY(90deg);}
	75%{transform:perspective(2300px) rotateY(135deg);}
	to{transform:rotateY(-180deg);}
}

.main_cub:hover {
	animation-play-state: paused; 
}
.
/*/стили для маслкаров/*/
.text{
	
}
.background{
	height:100%;
	background-repeat:round;
	background-image:url("muscle_back1.jpg");
	background-repeat:space;
	background-position:center;
	background-size:cover;
}
.background2{
	height:100%;
	background-repeat:round;
	background-image:url("muscle_back2.jpg");
	background-repeat:space;
	background-position:center;
	background-size:cover;
}
.text{
	width:800px;
	margin:auto;
	background-color:white;
	color:#32163b;
	font-size:110%;
	padding:15px;
	border-style:double;
	border-color:#32163b;
	border-width:6px;
    transition: 0.4s;
}
.ziba{
	padding-top:130px;
}
span{
	color:red;
	font-size:125%;
}
/*/Стили для галлереи/*/
.Gimg1, .Gimg2, .Gimg3, .Gimg4, .Gimg5, .Gimg6, .Gimg7{
    display:inline-block;
    width:23vw;
    height: calc(23vw*66/100);
    background-repeat:round; 
    margin:3px;
    transition: 0.4s;
}
.Gimg1, .Gimg2, .Gimg3, .Gimg4{
    margin-top: 800px;
}
.central{
    text-align:center;
    box-sizing: border-box;
}
.ax{
    width: 50vw;
    height:calc(50vw*66/100) ;
    position: fixed;
    background-color:white;
    display:none;
    top:128px;
    left: calc(50vw / 2);
    transition: 0.4s;
    background-repeat:round; 
    vertical-align: middle;
}
.boxax{
    width: 60vw;
    height: calc(60vw*57/100);
    text-align: center;
    background-color:rgba(0, 0, 0, 0.58);
    position: fixed;
    top:120px;
    left: calc(60vw / 3);
    transition: 0.5s;
}
.Gimg1{
    background-image: url("cadillac_gal.jpg");
}
.Gimg2{
    background-image: url("jeep_gal.jpeg");
}
.Gimg3{
    background-image: url("corvette_gal.jpg");
}
.Gimg4{
    background-image: url("lincoln_gal.jpg");
}
.Gimg5{
    background-image: url("chey_gal.jpg");
}
.Gimg6{
    background-image: url("pontiac_gal.jpg");
}
.Gimg7{
    background-image: url("dodge_gal.jpg");
}
.Gimg1:hover .ax{
    display: block; background-image: url("cadillac_gal.jpg");
}
.Gimg2:hover .ax{display: block; background-image: url("jeep_gal.jpeg")
}
.Gimg3:hover .ax{display: block; background-image: url("corvette_gal.jpg")
}
.Gimg4:hover .ax{display: block; background-image: url("lincoln_gal.jpg")
}
.Gimg5:hover .ax{display: block; background-image: url("chey_gal.jpg")
}
.Gimg6:hover .ax{display: block; background-image:url("pontiac_gal.jpg")
}
.Gimg7:hover .ax{display: block; background-image: url("dodge_gal.jpg")
}
.one{
    width:25px;
    height:25px;
    background-color:white;
    border-radius: 50%;
    display:inline-block;
    top:50vh;
    left: -30px;
    position:absolute;
    animation:comment1 2s ease 1 both;
    box-shadow:0px 0px 35px 4px black;
}
.two{
    display:inline-block;
    width:40px;
    height:45px;
    background-color:white;
    border-radius: 50%;
    top:53vh;
    left: -60px;
    position:absolute;
    animation:comment2 2s ease 1 both;
    animation-delay: 0.5s;
    box-shadow:0px 0px 35px 3px black;
}
.three{
    font-weight: 600;
    color:#570671;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display:inline-block;
    width:120px;
    height:85px;
    background-color:white;
    border-radius:50%;
    top:58vh;
    left: -130px;
    position:absolute;
    animation:comment3 2s ease 1 both;
    animation-delay: 1s;
    box-shadow:0px 0px 35px 2px black;
}
@keyframes comment1{
    from{transform:translate(0px,0px);}
    to{transform:translate(50px,1vh);}
}
@keyframes comment2{
    from{transform:translate(0px,0px) rotateZ(-55deg);}
    to{transform:translate(105px,1vh) rotateZ(-55deg);}
}
@keyframes comment3{
    from{transform:translate(0px,0px) rotateZ(26deg);}
    to{transform:translate(220px,0.9vh) rotateZ(26deg);}
}

.menuPhone{
    display: none;
    background-color:rgba(31, 4, 105, 0.8);
    width:250;
    height:198px;
    text-align:center;
    padding-top:15px;
    font-family:calibri;
    transform:translateX(-250px);
    position:fixed;
    top: 0px;
}
button{
    display: none;
    position:fixed;
    top:10px;
    left:260px;
    border:none ;
    width:63px;
    height:63px;
    background-image:url(http://lovetobounce.com.au/img/responsive-menu-icon.png);
    background-repeat: round;
    border:solid 3px red;
}
.menu_is_open{
    transform:translateX(0px);
}
img{
  width:50px;
  height:50px;
}
.aPhone1, .aPhone2, .aPhone3{
	text-decoration:none;
	font-size:190%;
	color:red;}

.aPhone1{padding:15px 130px 15px 30px;}
.aPhone2{padding:15px 95px 15px 30px;}
.aPhone3{padding:15px 128px 15px 30px;}

.aPhone1:hover{background-color:#2c0271;}
.aPhone2:hover{background-color:#2c0271;}
.aPhone3:hover{background-color:#2c0271;}
.liPhone{
    text-align: left;
    display: block;
	box-sizing:border-box;
    position: relative;
    top: -25px;
    left:-50px;
    margin-top:30px;
}
/*/адаптивность/*/
@media(max-width:1366px){
  .boxax{
    width: 60vw;
    height: calc(60vw*57/100);
    left: calc(60vw / 3);
}
    .Gimg1, .Gimg2, .Gimg3, .Gimg4, .Gimg5, .Gimg6, .Gimg7{
    display:inline-block;
    width:45vw;
    height: calc(45vw*66/100);
    background-repeat:round; 
    margin:3px;
}
    .Gimg1, .Gimg2{margin-top: 800px;}
    .text, .Ptext{width:65vw;}
}
.background, .background2{
        height:115%;}
@media(max-width:1024px){
    .text, .Ptext{width:75vw;}
    .background, .background2{
        height:135%;}
}
@media(max-width:768px){
    .menu{display: none}
    
    .boxax{display: none;}
    
    .Gimg1, .Gimg2, .Gimg3, .Gimg4, .Gimg5, .Gimg6, .Gimg7{
    display:inline-block;
    width:92vw;
    height: calc(92vw*66/100);
    background-repeat:round; 
    margin:3px;}
    
    .Gimg1:hover .ax{display: none}
    .Gimg2:hover .ax{display: none}
    .Gimg3:hover .ax{display: none}
    .Gimg4:hover .ax{display: none}
    .Gimg5:hover .ax{display: none}
    .Gimg6:hover .ax{display: none}
    .Gimg7:hover .ax{display: none}
    
    .one, .two, .three{display: none;}
    button, .menuPhone{display:block}
    .text, .Ptext{
	width:87vw;}
    
    .background, .background2{
        display: inline;}
    .text{#display: block}
    .bodyPhone{background-image:url("muscle_back1.jpg");}
     /*/body{background-image: url("_back.jpg")}
}